In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline
import sklearn

In [2]:
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\91807\Downloads\Reviews.csv\Reviews.csv")

In [4]:
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [5]:
df.shape

(568454, 10)

In [6]:
def partition(x):
    
      if x < 3 :
        return 0 
      return 1


df['Sentiment'] = df['Score'].apply(partition)
print(df['Sentiment'].shape)
print(df.head(3))

(568454,)
   Id   ProductId          UserId                      ProfileName  \
0   1  B001E4KFG0  A3SGXH7AUHU8GW                       delmartian
1   2  B00813GRG4  A1D87F6ZCVE5NK                           dll pa
2   3  B000LQOCH0   ABXLMWJIXXAIN  Natalia Corres "Natalia Corres"

   HelpfulnessNumerator  HelpfulnessDenominator  Score        Time  \
0                     1                       1      5  1303862400
1                     0                       0      1  1346976000
2                     1                       1      4  1219017600

                 Summary                                               Text  \
0  Good Quality Dog Food  I have bought several of the Vitality canned d...
1      Not as Advertised  Product arrived labeled as Jumbo Salted Peanut...
2  "Delight" says it all  This is a confection that has been around a fe...

   Sentiment
0          1
1          0
2          1

In [7]:
df[df.duplicated(subset = [ 'ProductId', 'ProfileName', 'Score', 'Time', 'Summary'], keep = False)]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Sentiment
466,467,B000G6RYNE,A3PJZ8TU8FDQ1K,Jared Castle,0,0,5,1231718400,"One bite and you'll become a ""chippoisseur""","I'm addicted to salty and tangy flavors, so wh...",1
574,575,B000G6RYNE,A3PJZ8TU8FDQ1K,Jared Castle,2,2,5,1231718400,"One bite and you'll become a ""chippoisseur""","I'm addicted to salty and tangy flavors, so wh...",1
1084,1085,B0030N5K1I,A19U4T4I7UZGNM,3 dogs,3,3,1,1330992000,awful,"This is not jerky, this is processed, hard lik...",0
1087,1088,B0030N5K1I,A19U4T4I7UZGNM,3 dogs,1,1,1,1330992000,awful,"This is not jerky, this is processed, hard lik...",0
2630,2631,B0016FY6H6,A2NLZ3M0OJV9NX,Mark Bodzin,1,1,2,1313107200,Way too weak for my tastes,"What can i say, I love iced tea. I drink a lot...",0
...,...,...,...,...,...,...,...,...,...,...,...
568007,568008,B0030VJ8YU,A20P8VC55KPPCT,FL Mom,3,3,5,1274486400,These pouches are great!,These pouches are so easy and convenient. They...,1
568008,568009,B0030VJ8YU,ATIHDHZYNQ0EI,"Kristen O'donnell ""twinsmom""",3,3,5,1270425600,Organic and Tasty!,I have 12 month olds and no time to write a gr...,1
568017,568018,B0030VJ8YU,A20P8VC55KPPCT,FL Mom,2,2,5,1274486400,These pouches are great!,These pouches are so easy and convenient. They...,1
568034,568035,B0030VJ8YU,A1S6HK2R1KUC5E,data1701,1,1,5,1318291200,Triplets love this!,This is very smooth and easy to feed to my tri...,1
568053,568054,B0030VJ8YU,A20P8VC55KPPCT,FL Mom,1,1,5,1274486400,These pouches are great!,These pouches are so easy and convenient. The...,1

In [8]:
df[df.duplicated(subset = [ 'ProductId', 'ProfileName', 'Score', 'Time', 'Summary'], keep = False)].loc[df.ProductId == 'B005K4Q1VI', :]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Sentiment
3306,3307,B005K4Q1VI,A3OXHLG6DIBRW8,"C. F. Hill ""CFH""",24,25,5,1321401600,Really Good Hot Cocoa - Highly Recommended,These Grove Square Hot Cocoa flavors are by fa...,1
3416,3417,B005K4Q1VI,A3OXHLG6DIBRW8,"C. F. Hill ""CFH""",5,5,5,1321401600,Really Good Hot Cocoa - Highly Recommended,These Grove Square Hot Cocoa flavors are by fa...,1

In [9]:
#Sorting data according to ProductId in ascending order
sorted_df=df.sort_values('ProductId', axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

In [10]:
#Deduplication of entries
final=sorted_df.drop_duplicates(subset={"UserId","ProfileName","Time","Text"}, keep='first', inplace=False)
final.shape

(393933, 11)

In [11]:
#Checking to see how much % of data still remains
(final['Id'].size*1.0)/(df['Id'].size*1.0)*100

69.29901100176971

In [12]:
final[final['HelpfulnessNumerator'] > final['HelpfulnessDenominator']]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Sentiment
64421,64422,B000MIDROQ,A161DK06JJMCYF,"J. E. Stephens ""Jeanne""",3,1,5,1224892800,Bought This for My Son at College,My son loves spaghetti so I didn't hesitate or...,1
44736,44737,B001EQ55RW,A2V0I904FH7ABY,Ram,3,2,4,1212883200,Pure cocoa taste with crunchy almonds inside,It was almost a 'love at first bite' - the per...,1

In [13]:
final = final[final['HelpfulnessNumerator'] <= final['HelpfulnessDenominator']]
final.reset_index(inplace=True)
final.shape

(393931, 12)

In [14]:
import re
# Tutorial about Python regular expressions: https://pymotw.com/2/re/

import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

from gensim.models import Word2Vec
from gensim.models import KeyedVectors
import pickle

from tqdm import tqdm
import os


# https://stackoverflow.com/questions/16206380/python-beautifulsoup-how-to-remove-all-tags-from-an-element
from bs4 import BeautifulSoup

In [15]:
# https://stackoverflow.com/a/47091490/4084039
import re

def decontracted(phrase):
    # specific
    phrase = re.sub(r"won't", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [16]:
# https://gist.github.com/sebleier/554280
# we are removing the words from the stop words list: 'no', 'nor', 'not'
#  ==> after the above steps, we are getting "br br"
# we are including them into stop words list
# instead of  if we have  these tags would have revmoved in the 1st step

stopwords= set(['br', 'the', 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"])

In [17]:
ps=PorterStemmer()

In [18]:
wordnet=WordNetLemmatizer()

In [19]:
# Combining all the above steps 
from tqdm import tqdm
preprocessed_reviews = []
# tqdm is for printing the status bar
for sentance in tqdm(final['Text'].values):
    sentance = re.sub(r"http\S+", "", sentance)
    sentance = BeautifulSoup(sentance, 'lxml').get_text()
    sentance = decontracted(sentance)
    sentance = re.sub("\S*\d\S*", "", sentance).strip()
    sentance = re.sub('[^A-Za-z]+', ' ', sentance)
#     sentance = [ps.stem(word) for word in sentance if not word in set(stopwords.words('english'))]
    sentance = sentance.lower()
    sentance = sentance.split()
#     sentance = [ps.stem(word) for word in sentance if not word in set(stopwords.words('english'))]
    sentance = ' '.join(sentance)
    preprocessed_reviews.append(sentance) 
    
#     # https://gist.github.com/sebleier/554280
#     sentance = ' '.join(e.lower() for e in sentance.split() if e.lower() not in stopwords)
#     preprocessed_reviews.append(sentance.strip())

  0%|                                                                                       | 0/393931 [00:00<?, ?it/s]C:\Users\91807\anaconda3\lib\site-packages\bs4\__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
100%|████████████████████████████████████████████████████████████████████████| 393931/393931 [01:04<00:00, 6107.08it/s]

In [20]:
preprocessed_reviews[1]

'this is a fun way for children to learn their months of the year we will learn all of the poems throughout the school year they like the handmotions which i invent for each poem'

In [21]:
len(preprocessed_reviews)

393931

In [22]:
final.shape

(393931, 12)

In [23]:
from nltk.corpus import stopwords

In [24]:
final.drop(columns = ['Id', 'ProductId', 'UserId','ProfileName', 'Time', 'Summary', 'Score'], inplace=True)

In [25]:
final.head(2)

,index,HelpfulnessNumerator,HelpfulnessDenominator,Text,Sentiment
0,150528,0,1,In June<br />I saw a charming group<br />of ro...,1
1,150506,1,1,This is a fun way for children to learn their ...,1

In [26]:
final.index.values

array([     0,      1,      2, ..., 393928, 393929, 393930], dtype=int64)

In [27]:
sample_reviews = [ preprocessed_reviews[i] for i in final.index.values]
sample_reviews[0]

'in junei saw a charming groupof roses all beginto droopi pepped them upwith chicken soup sprinkle oncesprinkle twicesprinkle chicken soupwith ricethis is a great book to teach children the months of the year the repetition of the phrases and the funny little stories with accompanying pictures make for an ideal bedtime read this is not nearly as good as some of sendak is other books like where the wild things are or pierre the boy who did not care but it still carries his unique brand of charm'

In [28]:
final['preprocessed'] = sample_reviews
final.head()

,index,HelpfulnessNumerator,HelpfulnessDenominator,Text,Sentiment,preprocessed
0,150528,0,1,In June<br />I saw a charming group<br />of ro...,1,in junei saw a charming groupof roses all begi...
1,150506,1,1,This is a fun way for children to learn their ...,1,this is a fun way for children to learn their ...
2,150505,1,1,"I grew up reading these Sendak books, and watc...",1,i grew up reading these sendak books and watch...
3,150504,1,1,Get the movie or sound track and sing along wi...,1,get the movie or sound track and sing along wi...
4,150503,1,1,A very entertaining rhyming story--cleaver and...,1,a very entertaining rhyming story cleaver and ...

In [29]:
final.drop(columns = ['Text', 'index'], inplace=True)

In [30]:
final.head(3)

,HelpfulnessNumerator,HelpfulnessDenominator,Sentiment,preprocessed
0,0,1,1,in junei saw a charming groupof roses all begi...
1,1,1,1,this is a fun way for children to learn their ...
2,1,1,1,i grew up reading these sendak books and watch...

In [31]:
tokenized_words=final['preprocessed'].apply(lambda x: x.split())

In [32]:
tokenized_words.head()

0    [in, junei, saw, a, charming, groupof, roses, ...
1    [this, is, a, fun, way, for, children, to, lea...
2    [i, grew, up, reading, these, sendak, books, a...
3    [get, the, movie, or, sound, track, and, sing,...
4    [a, very, entertaining, rhyming, story, cleave...
Name: preprocessed, dtype: object

In [33]:
# stemming the words
tokenized_words=tokenized_words.apply(lambda sentance : [ps.stem(word) for word in sentance])

In [34]:
tokenized_words.head()

0    [in, junei, saw, a, charm, groupof, rose, all,...
1    [thi, is, a, fun, way, for, children, to, lear...
2    [i, grew, up, read, these, sendak, book, and, ...
3    [get, the, movi, or, sound, track, and, sing, ...
4    [a, veri, entertain, rhyme, stori, cleaver, an...
Name: preprocessed, dtype: object

In [35]:
for i in range(len(tokenized_words)):
    tokenized_words[i]=" ".join(tokenized_words[i])
final['cleaned_text']=tokenized_words

In [36]:
final.head()

,HelpfulnessNumerator,HelpfulnessDenominator,Sentiment,preprocessed,cleaned_text
0,0,1,1,in junei saw a charming groupof roses all begi...,in junei saw a charm groupof rose all beginto ...
1,1,1,1,this is a fun way for children to learn their ...,thi is a fun way for children to learn their m...
2,1,1,1,i grew up reading these sendak books and watch...,i grew up read these sendak book and watch the...
3,1,1,1,get the movie or sound track and sing along wi...,get the movi or sound track and sing along wit...
4,1,1,1,a very entertaining rhyming story cleaver and ...,a veri entertain rhyme stori cleaver and catch...

In [37]:
final.head(2)

,HelpfulnessNumerator,HelpfulnessDenominator,Sentiment,preprocessed,cleaned_text
0,0,1,1,in junei saw a charming groupof roses all begi...,in junei saw a charm groupof rose all beginto ...
1,1,1,1,this is a fun way for children to learn their ...,thi is a fun way for children to learn their m...

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
y = final['Sentiment'].values 
x = final.drop(columns =['Sentiment','preprocessed'],axis=1)

print(x.shape)
print(y.shape)

(393931, 3)
(393931,)

In [54]:
final['Sentiment'].value_counts()

1    336824
0     57107
Name: Sentiment, dtype: int64

In [55]:
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.2, random_state = 24)

print(train_x.shape)
print(train_y.shape)
print(test_x.shape)
print(test_y.shape)

(315144, 3)
(315144,)
(78787, 3)
(78787,)

In [56]:
from sklearn.feature_extraction.text import CountVectorizer
bow_vector=CountVectorizer()
bow=bow_vector.fit(train_x['cleaned_text'])

print("some feature names ", count_vect.get_feature_names()[:10])
print('='*50)

some feature names  ['aa', 'aaa', 'aaaa', 'aaaaa', 'aaaaaa', 'aaaaaaaaaa', 'aaaaaaaaaaa', 'aaaaaaaaaaaaa', 'aaaaaaaaaaaaaaa', 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa']
==================================================

C:\Users\91807\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [57]:
final_vectors = count_vect.transform(train_x['cleaned_text'])

In [58]:
final_vectors.shape

(315144, 108702)

In [59]:
num_feats = train_x[['HelpfulnessNumerator' ,'HelpfulnessDenominator']].values

from scipy import sparse

training_data = sparse.hstack(( num_feats, final_vectors))

training_data.shape

(315144, 108704)

In [60]:
from sklearn.linear_model import LogisticRegression

In [62]:
model = LogisticRegression(max_iter = 15000)

model.fit(training_data, train_y)

LogisticRegression(max_iter=15000)

In [63]:
final_test_vectors = count_vect.transform(test_x['cleaned_text'].values)
final_test_vectors.shape

(78787, 108702)

In [64]:
test_feats = test_x[['HelpfulnessNumerator' ,'HelpfulnessDenominator']].values

test_data = sparse.hstack(( test_feats, final_test_vectors))

test_data.shape

(78787, 108704)

In [65]:
from sklearn.metrics import accuracy_score

preds = model.predict(test_data)

# get the actual values 
y_true = test_y

accuracy_score(y_true, preds)

0.9116986304847247